.card-container {
  margin: 4rem 0.3rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-container h1 {
  color: #1d2939;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 0.9rem;
}

.no-task {
  margin: 4rem 0.3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d2939;
}
